.navbar{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(./images/logo.png);
    background-position: center;
    background-size: cover;
    height: 35vh;
    width: auto;
    opacity: 90%;
    text-align: center;
    border-radius: 30px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu ul li{
    list-style: none;
    margin-left: 40px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100%;
}
.menu2 ul{
    float: right;
    display: flex;

}
.menu2 ul li{
    list-style: none;
    float: right;
    margin-right: 40px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 250px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
}

ul li a:hover{
    color: hsl(18, 14%, 39%);

}
ul li a:visited{
    color: hsl(18, 90%, 48%);

}
